<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">
            SkatePro
        </a>
    </div>
</nav>

<router-outlet></router-outlet>



<!--
<input #input
       (keyup.enter)="selectSkater(input.value)"
        type="number" 
        />
<p (click)="selectSkater(skaterList[0])">{{skaterList[0].name}}</p>
<p *ngIf="skaterSelected">Vous avez selectionné le skateur : {{skaterSelected.name}}</p>
<p *ngIf="!skaterSelected">Aucun skater n'a été trouvé</p>
<p *ngFor="let skater of skaterList">
    {{skater.name}}
</p>-->
<!--
<p>{{skaterList[0].name}}</p>
<p>{{skaterList[1].name}}</p>
<p>{{skaterList[2].name}}</p>
<p>{{skaterList[3].name}}</p>
<p>{{skaterList[4].name}}</p>
<p>{{skaterList[5].name}}</p>
-->